extends layout

block content
    .row.page-header
        .col-lg-12
            h1= title
    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-sm-6
                    p.rating
                        -for(var i=0; i<lokacija.ocena; i++)
                            span.glyphicon.glyphicon-star
                        -for(var i=lokacija.ocena; i<5; i++)
                            span.glyphicon.glyphicon-star-empty
                    p= lokacija.naslov
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Work hours:
                        .panel-body
                            each dc in lokacija.delovniCas
                                -if(dc.zaprto)
                                    p= dc.dnevi +" zaprto"
                                -else
                                    p= dc.dnevi +": "+dc.odprtje+" - "+dc.zaprtje
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Attributes
                        .panel-body
                            each atr in lokacija.lastnosti
                                span.label.label-warning
                                    span.glyphicon.glyphicon-ok
                                        =atr
                                    | &nbsp;
                                | &nbsp
                            | &nbsp;
                .col-xs-12.col-sm-6.location-map
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Map
                        .panel-body
                            .embed-responsive.embed-responsive-4by3
                                iframe.embed-responsive-item(frameborder='0', src='https://maps.google.com/maps?q=Stari grad Celje&z=15&output=embed')
            .row
                .col-xs-12
                    .panel.panel-primary.review-panel
                        .panel-heading
                            a.btn.btn-default.btn-xs.pull-right(href='/locations/comment/new') Add comment
                            h2.panel-title Users comments
                        .panel-body.komentar-vsebnik
                            each comm in lokacija.komentarji
                                .row
                                    .komentar
                                        .well.well-sm.komentar-glava
                                            span.rating
                                                -for(var i=0; i<comm.ocena; i++)
                                                    span.glyphicon.glyphicon-star
                                                -for(var i=comm.ocena; i<5; i++)
                                                    span.glyphicon.glyphicon-star-empty
                                            span.komentarAvtor=comm.avtor+" "
                                            small.komentarDatum=comm.datum
                                        .col-xs-12
                                            p=comm.besediloKomentarja