extends layout

block content
    .row.page-header
        .col-lg-12
            h1=glavaStrani.naslov
        .row
            .col-xs-12.col-md-6
                form.form-horizontal(action="/location", method="get", role="form")
                    .form-group
                        label.col-xs-10.col-sm-3.control-label(for="naziv") Naziv
                        .col-xs-12.col-sm-9
                            input#naziv.form-control(name="naziv")
                    .form-group
                        label.col-xs-10.col-sm-3.control-label(for="ocena") Ocena
                        .col-xs-12.col-sm-2
                            select#ocena.form-control.input-sm(name="ocena")
                                option 5
                                option 4
                                option 3
                                option 2
                                option 1
                    .form-group
                        label.col-sm-3.control-label(for="komentar") Komentar
                        .col-sm-9
                            textarea#komentar.form-control(name="komentar", rows="5")
                    button.btn.btn-default.btn-sm.pull-right Dodaj moj komentar