extends layout

block content
    #banner.page-header
        .row
            .col-lg-12
                h1= glavaStrani.naslov
                small &nbsp;#{glavaStrani.podnaslov}
    .row
        .col-xs-12.col-sm-8
            .row.list-group
                 each lokacija in lokacije
                     .col-xs-12.list-group-item
                         h4
                            a(href="/locations")= lokacija.naziv
                             small &nbsp;
                                 -for(var i = 1; i <= lokacija.ocena; i++)
                                    span.glyphicon.glyphicon-star
                                 -for(var i=lokacija.ocena; i<5; i++)
                                    span.glyphicon.glyphicon-star-empty
                             span.badge.pull-right.badge-default= lokacija.razdalja
                         p.address= lokacija.naslov
                         p
                             each lastnost in lokacija.lastnosti
                                 span.label.label-warning= lastnost
                                 | &nbsp;